<%= simple_form_for(@cliente) do |f| %>

  <div class="inputs">
    <%= f.input :nombre %>
  </div>
  <div class="field">
    <%= f.input :apellido %>
  </div>
  <div class="field">
    <%= f.input :num_tarj %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
