<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @cliente.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @cliente.apellido %>
</p>

<p>
  <b>Num tarj:</b>
  <%= @cliente.num_tarj %>
</p>

<table>
      <td><% n_total=0 %></td>
	<% @cliente.productos.each do |producto| %>
      <% n_total = n_total + producto.precio %>
		<tr>
      <td><%= producto.codigo %></td>
      <td><%= producto.descripcion %></td>
      <td><%= producto.precio %></td>
		</tr>

	<% end %>
</table>
  Total: <%= n_total %>
<br>
<%= link_to 'Agregar producto', add_producto_cliente_path(@cliente) %>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>